      <cards-list
        id="<%= page.name.dashCase%>-<%= array.name.dashCase%>-id"
        :items="<%= array.items.name.plural%>Cards"
        :title="$t('<%= pathSubseccion %>.<%= array.name.dashCase%>.label')"
        @remove="remove<%= array.items.name.pascalCase%>">
        <%_ for (const idx in array.items.properties){ _%>
          <%_ let campo = array.items.properties[idx]; _%>
          <%_ array.items.name.dashCase = page.name.dashCase + '.' + array.name.dashCase; _%>
          <%_ let subPath = pathSubseccion + '.' + array.name.dashCase; _%>
  <%- include('../page-fields', {page: array.items, campo: campo, pathSubseccion: subPath, context: array.items}); %>
        <%_ }; _%>
        <div class="form-group float-right">
          <span class="label-hidden"></span>
          <b-button @click="add<%= array.items.name.pascalCase%>($v.<%= array.items.name.camelCase%>.$model)" variant="outline-primary">
            <span>Agregar</span>
            <span class="icon-mas"></span>
          </b-button>
        </div>
      </cards-list>