<template>
  <b-row class="row mb-5">
    <b-col md="12" class="mb-5">
      <div class="alert alert-success">
        <span>Alert basetemplate</span>
      </div>
    </b-col>
    <%_ let pathSubseccion = name.dashCase; _%>
    <b-col md="12">
      <header class="mt-5 bx-header-title">
        <h2 id="<%= name.dashCase %>-id" v-text="$t('<%= pathSubseccion %>.title')">
          <%= name.pascalCase %>
          <small v-text="$t('<%= pathSubseccion %>.subtitle')"><%= name.pascalCase %></small>
        </h2>
      </header>
    </b-col>
    <b-col md="12">
    <%_ let campos = type == 'array'? items.properties: properties; _%>
    <%_ for (const idx in campos){ _%>
    <%_ let campo = campos[idx]; _%>
     <%_ if (campo.uiType === 'text') { _%>
<%- include('fields/input-text', {name: name, campo: campo, pathSubseccion: pathSubseccion}); %>
      <%_ } else if (campo.uiType === 'TextArea') { _%>
<%- include('fields/input-text-area', {name: name, campo: campo, pathSubseccion: pathSubseccion}); %>
      <%_ } else if (campo.uiType === 'Radio Button') { _%>
<%- include('fields/input-boolean', {name: name, campo: campo, pathSubseccion: pathSubseccion}); %>
      <%_ } else if (campo.uiType === 'inputImage') { _%>
<%- include('fields/input-image', {name: name, campo: campo, pathSubseccion: pathSubseccion}); %>
      <%_ } else if (campo.uiType === 'Date') { _%>
<%- include('fields/input-date', {name: name, campo: campo, pathSubseccion: pathSubseccion}); %>
      <%_ } else if (campo.uiType === 'selectOne') { _%>
<%- include('fields/input-select-one', {name: name, campo: campo, pathSubseccion: pathSubseccion}); %>
      <%_ } else if (campo.uiType === 'selectRadio') { _%>
<%- include('fields/input-select-radio', {name: name, campo: campo, pathSubseccion: pathSubseccion}); %>
      <%_ } else if (campo.uiType === 'selectMultiple') { _%>
<%- include('fields/input-select-many', {name: name, campo: campo, pathSubseccion: pathSubseccion}); %>
      <%_ } else if (campo.uiType === 'cardsList') { _%>
<%- include('fields/cards-list', {name: name, campo: campo, pathSubseccion: pathSubseccion}); %>
      <%_ } _%>
    <%_ }; _%>
    </b-col>
    <b-col class="mb-5">
      <b-button variant="outline-primary" size="lg">
        <font-awesome-icon icon="ban" class="mr-2"></font-awesome-icon>
        <span>Cancelar</span>
      </b-button>
      <b-button @click="$v.<%= name.camelCase%>.$touch" variant="primary" size="lg">
        <font-awesome-icon icon="save" class="mr-2"></font-awesome-icon>
        <span>Guardar</span>
      </b-button>
    </b-col>
  </b-row>
</template>

<script lang="ts" src="./<%= name.dashCase%>.component.ts"></script>
