<template>
  <b-row class="row mb-5">
    <%_ let pathSubseccion = page.name.dashCase; _%>
    <b-col md="12">
      <header class="mt-5 bx-header-title">
        <h2 id="<%= page.name.dashCase %>-id" v-text="$t('<%= pathSubseccion %>.title')"  class="inline">
          <%= page.name.pascalCase %>
          <small v-text="$t('<%= pathSubseccion %>.subtitle')"><%= page.name.pascalCase %></small>
        </h2>
      </header>
    </b-col>
    <b-col md="12">
      <alerta ref="alerta" />
    </b-col>
    <b-col md="12">
      <%_ for (const idx in page.properties){ _%>
        <%_ let campo = page.properties[idx]; _%>
        <%_ if (campo.type === 'array') { _%>
<%- include('page-arrays', {page: page, array: campo, pathSubseccion: pathSubseccion}); %>
        <%_ } else { _%>
<%- include('page-fields', {page: page, campo: campo, pathSubseccion: pathSubseccion}); %>
        <%_ } _%>
      <%_ }; _%>
    </b-col>
    <b-col class="mb-5">
      <b-button @click="cancel" variant="outline-primary" size="lg">
        <font-awesome-icon icon="ban" class="mr-2"></font-awesome-icon>
        <span>Cancelar</span>
      </b-button>
      <b-button @click="save" variant="primary" size="lg">
        <font-awesome-icon icon="save" class="mr-2"></font-awesome-icon>
        <span>Guardar</span>
      </b-button>
    </b-col>
  </b-row>
</template>

<script lang="ts" src="./<%= page.name.dashCase%>.component.ts"></script>
